// 変数
$main: #ff7d6e;
$copyright: gray;

/* ヘッダー */

/* メイン */

/* フッター */
#footer-index {
  ul ul {
    padding-left: 0.75rem;
    border-left: 1px solid #6c757d;
  }
  .list-unstyled li a {
    color: #696969;
    font-size: 15px;
  }
}

#footer-logo {
  .sns-wrap {
    display: flex;
    margin-top: 20px;
  }
  .footer-sns img {
    height: 35px;
    width: auto;
    margin-right: 25px;
    border-radius: 50%;
  }
}
.copy-right {
  background-color: $copyright;
}
