/* new_dog */
/* popular */
/* serch */
a {
  text-decoration: none;
}

.container {
  margin-bottom: 20px;
}

.dog-list-title {
  font-weight: bold;
  font-size: 20px;
  padding: 30px;
}

.card {
  margin: 10px;
}

.card-body .nav-links {
  padding: 2em;
  display: flex;
  justify-content: center;
  background: #f3f3f3;
}
.page-numbers {
  width: 50px;
  height: 50px;
  margin: 2px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  color: #222;
  transition: 0.3s;
}
.page-numbers:hover {
  background: #ff7d6e;
  border-radius: 100%;
  transform: rotate(360deg);
}
.current {
  background: #ff7d6e;
  border-radius: 100%;
  color: white;
}
.dots {
  background: none;
}

.card-body {
  height: 100%;
  color: gray;
}

.card-title {
  font-size: 15px;
}

.card-body p {
  font-size: 8px;
  font-weight: bold;
}

.card .card-text {
  font-size: 8px;
}

@media screen and (max-width: 768px) {
  /* new_dog */
  /* popular */
  /* serch */
  .card-group {
    display: block;
  }
}
