/* commerciaial */
.nav-bar {
  height: 35px;
  width: 100%;
  background-color: #ff7d6e;
}

.nav-bar h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
  color: aliceblue;
}

.container h2 {
  font-size: 25px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: solid 2px white;
}

table tr:last-child {
  border-bottom: none;
}

table th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #ff7d6e;
  color: white;
  text-align: center;
  padding: 10px;
}

table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  font-weight: bold;
}

/* about */
/* news */

@media screen and (max-width: 768px) {
  /* commerciaial */
  .nav-bar h1 {
    font-size: 10px;
    text-align: center;
    padding-top: 12px;
    font-weight: bold;
    color: aliceblue;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table tr {
    border-bottom: solid 2px white;
  }

  table tr:last-child {
    border-bottom: none;
  }

  table th {
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #ff7d6e;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  table td {
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
    font-weight: bold;
  }

  /* about */
  /* news */
}
