/* 共通レイアウト */
.modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.74);
}

.modal__window {
  width: 80%;
}

.modal__content {
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  overflow: scroll;
  background-color: white;
  border-radius: 20px;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.4s;
}
.modal-leave-active {
  transition: opacity 0.6s ease 0.4s;
}
.modal-enter,
.modal-leave-to {
  opacity: 0;
}
#page_title h1 .fas {
  margin-right: 5px;
}
.menu-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-content {
  left: 0; /*メニューを画面内へ*/
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: white;
  transition: all 0.5s; /*アニメーション設定*/
}
.menu-content ul {
  padding: 10px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #333;
  list-style: none;
  font-weight: bold;
}

.menu-content ul li:hover {
  background-color: #e4e4e4;
  padding-left: 20px;
}

.menu-content ul li i {
  font-size: 20px;
  padding: 10px;
}

.menu-content ul li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.menu-content ul li .user_name {
  color: black;
  font-size: 15px;
  padding-right: 10px;
}

.menu-content .menu-content-title h1 {
  top: 100px;
}

.menu-content .menu-content-title .fas {
  color: red;
  margin-right: 10px;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: gray;
  text-decoration: none;
  padding: 10px;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px gray;
  border-right: solid 2px gray;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 30px;
}

.nav-item .nav-link .fas {
  color: #aa9103;
  padding-right: 5px;
}

.login_footer {
  font-size: 10px;
}
.register_footer {
  font-size: 10px;
}

input:focus {
  outline: solid 2px #ff7d6e;
}
.register_title {
  text-align: center;
}
.register_body {
  width: 80%;
  margin: 0 auto;
  /* background-color: #ddd; */
}
.Form {
  margin-top: 20px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.register_btn {
  text-align: center;
  margin: 20px;
}
.register_footer {
  text-align: center;
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #ff7d6e;
  color: #fff;
  font-size: 14px;
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #ff7d6e;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/* ヘッダー */
.navbar-nav .nav-item a {
  font-weight: bold;
}

.navbar-nav .nav-item a:hover {
  color: #bf0000;
}

/* メイン */
#page_title {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#page_title h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  padding: 20px;
  margin-left: 10px;
}

.search_label {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background: white;
  width: 260px;
  display: inline-block;
  position: relative;
}

select {
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 16px;
  color: #909090;
  border-radius: 0;
  width: 275px;
  z-index: 2;
  background: transparent;
}

.search_label:after {
  content: "\25bc";
  font-size: 16px;
  color: white;
  background: #f3a1a1;
  width: 42px;
  text-align: center;
  line-height: 3.2em;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

option {
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid white;
  appearance: none;
}

option:hover {
  background-color: white;
  border-left: 3px solid #f3a1a1;
}

.cp_ipselect {
  text-align: center;
}

.serch-btn {
  text-align: center;
}
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #ff7d6e;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f3695a;
}
.section-container {
  position: relative;
  background-image: url(../img/test.png);
  background-size: cover;
  height: 100%;
}

.section-container2 {
  position: relative;
  background: #3e5770;
  height: 100%;
}

.section-container-inner2 {
  width: 100%;
  padding: 10px;
}

.section-container-inner2-wrap {
  text-align: center;
  margin-top: 20px;
}

.wave {
  position: absolute;
  height: 45px;
  width: 100%;
  background: #3e5770;
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: #3e5770;
  left: -1.5%;
  top: 40%;
}

.wave_container {
  height: 30px;
}

/* 横スクロールカード素材 */
.card-horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 0 10px;
}

.card-horizontal-list li {
  /* 横スクロール用 */
  display: inline-block;
}

.card-horizontal-list li > a {
  margin: 5px;
  width: 150px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  display: inline-block;
}
.card-horizontal-list li > a > img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  height: 102px !important;
  width: 150px !important;
}
.card-horizontal-list li > a > div {
  padding: 15px;
}
.card-horizontal-list li > a > div > h3 {
  font-size: 12px;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  color: #333;
}
.card-horizontal-list li > a > div > p {
  color: #777;
  font-size: 10px;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: normal;
}

/* 横スクロール */
.horizontal_scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 12px 8px;
  display: -ms-flexbox;
  display: flex;
}

.modal-contact {
  border-radius: 20px;
}

/* タイトル */
.slider_ttl {
  color: #333;
  text-align: inherit;
  width: 100%;
  height: 100%;
  /* line-height: 40px; */
  padding-left: 10px;
  margin: 0 0 20px 0;
  background-color: #e5e5e5;
  text-indent: 8px;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
}

/* 順位 */
.rank li {
  counter-increment: rank;
  list-style: none;
}
.rank li::before {
  content: counter(rank) "位";
  color: #bf0000;
  font-weight: 700;
  line-height: initial;
}

/* 詳細(もっと見る) */
.detail {
  color: #ff7d6e;
  float: right;
  padding-right: 30px;
}

.description {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #ccc;
}

.description-title {
  padding: 30px 20px 0 20px;
}

.description li {
  width: 100%;
  padding: 0 10px;
  /* border-right: 1px solid #ccc; */
}

.description h2 {
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}

.description p {
  font-size: 12px;
  text-align: left;
}

.description img {
  width: 160px;
  height: 100px;
  margin-bottom: 25px;
}

.border1 {
  border-right: 1px solid #ccc;
}

.border2 {
  border-right: 1px solid #ccc;
}

.nav-links {
  padding: 2em;
  display: flex;
  justify-content: center;
  background: #f3f3f3;
}
.page-numbers {
  width: 50px;
  height: 50px;
  margin: 2px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  color: #222;
  transition: 0.3s;
}
.page-numbers:hover {
  background: #ff7d6e;
  border-radius: 100%;
  transform: rotate(360deg);
}

a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fdfbfb),
    to(#ebedee)
  );
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

a.btn-radius-solid:hover {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fdfbfb),
    to(#ebedee)
  );
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.card-group > .card + .card {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.profile-information {
  position: relative;
}
.profile_edit_header {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
.profile_edit_contents {
  padding: 10px;
}
.profile_edit_contents p {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.profile_edit_contents h5 {
  font-size: 12px;
}
.twitter-form {
  border: 2px solid #ddd;
}
.twitter-form:focus {
  outline: none;
  border: 5px solid rgb(188, 205, 236);
}

.profile_upload {
  width: 50%;
  height: 250px;
  background-color: white;
}
.profile_upload p {
  text-align: center;
  padding: 10px;
}
.profile_img {
  width: 50%;
  height: 120px;
  margin: 0 auto;
  background-color: #ddd;
}
.profile_img img {
  width: 100%;
  height: 100%;
}
.upload_btn {
  text-align: center;
  margin-top: 20px;
}
/* label {
  width: 50%;
  color: white;  
  font-size: 10px;
  background-color: #ff7d6e;
  padding: 6px;
} */

.profile_uploadlabel {
  width: 50%;
  color: white;
  font-size: 10px;
  background-color: #ff7d6e;
  padding: 6px;
}

/* フッター */
h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 1em 0;
}

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 3px solid #ddd;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #ff7d6e;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.button:hover {
  background: #f3a1a1;
}

.modal-button {
  text-align: right;
}

.close-button {
  background-color: transparent;
  border: none;
}

.form-wrap {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.form-wrapper {
  width: 100%;
}

.complet-wrap {
  text-align: center;
}

.transfer-detail {
  text-align: left;
  border: 3px solid #ddd;
}

.transfer-detail-title {
  background-color: #ddd;
}

.transfer-detail-title h2 {
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
}

.transfer-detail-content {
  padding: 0 20px 0 20px;
}

.transfer-detail-content p {
  font-size: 15px;
}

.account-information {
  float: right;
}

.account-information-title h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_nav {
  display: none;
}

@media screen and (max-width: 480px) {
  #nav-bar .nav-bar-title h1 {
    font-size: 10px;
  }
  .form-wrap {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .form-wrapper h1 {
    font-size: 15px;
  }
  .form-wrapper h1 .fas {
    margin-right: 5px;
  }

  .register_title h1 {
    font-size: 18px;
  }
  .register_title h1 .fas {
    margin-right: 5px;
  }
  .check-button a {
    font-size: 13px;
  }
  .register-button a {
    font-size: 13px;
  }

  .Form {
    padding: 10px;
  }
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
  .register_body {
    width: 100%;
  }
  .profile_upload {
    width: 50%;
    height: 215px;
    background-color: white;
  }
  .profile_img {
    width: 80%;
    height: 120px;
    margin: 0 auto;
    background-color: #ddd;
  }
  .upload_btn {
    text-align: center;
    margin-top: 8px;
  }
  .profile_uploadlabel {
    width: 80%;
    color: white;
    font-size: 10px;
    background-color: #ff7d6e;
    padding: 6px;
  }
}

@media screen and (max-width: 600px) {
  .description img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .description h2 {
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    margin-top: -20px;
  }

  .description p {
    font-size: 10px;
  }

  .description-title {
    font-weight: bold;
    font-size: 16px;
    padding-top: -50px;
  }

  .description-subtitle {
    font-size: 13px;
  }

  .description {
    padding: 0;
  }

  #footer-index .list-unstyled li a {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  /* 共通レイアウト */
  .modal__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
  }

  .modal__window {
    width: 90%;
  }

  .modal__content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    overflow: scroll;
    background-color: white;
    border-radius: 20px;
  }

  /* ヘッダー */

  /* メイン */
  .card-group > .card + .card {
    margin-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
  }
  /* フッター */
  .footer_nav {
    display: block !important;
    border: 1px solid #ccc;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
  }
  .footer_nav ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .footer_nav ul .fas {
    font-size: 20px;
  }

  .footer_nav ul li {
    display: table-cell;
    font-size: 10px;
    color: #ccc;
    min-width: 50px;
    border-right: 1px solid #ccc;
  }
  .footer_nav ul li:first-child {
    border-left: 1px solid #ccc;
  }
  .footer_nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #aaa;
  }
}

@media screen and (max-width: 1430px) {
  .section-container {
    position: relative;
    background: #3e5770;
    height: auto;
    background-image: none;
  }
}
