/* 共通レイアウト */

/* ヘッダー */

/* メイン */
/* #container {
  width: 1120px;
  margin-right: auto;
  margin-left: auto;
} */

#page_title {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#page_title h1 {
  font-size: 20px;
  font-weight: bold;
}

/* フッター */

@media screen and (min-width: 768px) {
  /* 共通レイアウト */

  /* ヘッダー */

  /* メイン */

  /* フッター */
}
