.dog-setting-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  background-color: #f3f3f3;
}

.mypage-wrap {
  width: 80%;
  margin: 0 auto;
}

.profile-wrap {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.introduce-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.introduce-wrap-inner {
  border: 1px solid gray;
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.introduce-wrap-inner-edit {
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.introduce-wrap .content {
  /* width: 90%; */
  height: auto;
}

#attachment label {
  /* ボタン部分の見た目（任意） */
  margin-top: 20px;
  display: inline-block;
  position: relative;
  background: #ff7d6e;
  color: #fff;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 4px;
  transition: all 0.3s;
  width: auto;
  font-size: 12px;
  font-weight: bold;
}
#attachment label:hover {
  background: #f8a79e;
  transition: all 0.4s;
}
#attachment label input {
  /* 今回のポイント */
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
#attachment .filename {
  font-weight: 16px;
  margin: 0 0 0 10px;
}

.profile-wrap img {
  border-radius: 50%;
  width: 200px;
  height: auto;
  border: 1px solid rgb(187, 185, 185);
  box-shadow: 2px 2px 4px gray;
}

.sponser-wrap {
  width: 100%;
  margin: 0 auto;
}

a {
  color: black;
}

h2 {
  color: #ff7d6e;
  font-size: 16px;
  padding: 10px;
}

.nav-tabs-wrapper {
  border-bottom: 1px solid rgb(219, 217, 217);
}

.nav-tabs-wrapper ul li {
  width: auto;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.clickBtn {
  color: white;
  border: 1px solid rgb(228, 226, 226);
  border-radius: 5px;
  background-color: #ff7d6e;
}

.form-group p {
  margin: 0;
  padding: 10px 10px 10px 5px;
  font-weight: bold;
}

::placeholder {
  opacity: 0.3;
  padding: 10px;
}

.form-control::placeholder {
  opacity: 0.3;
}

.m-form-textarea {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid rgb(196, 194, 194);
}

.m-form-textarea:focus {
  outline: none;
  border: 5px solid rgb(188, 205, 236);
}

.total-place {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 10px;
}

.like {
  display: flex;
}

.introduce_content {
  padding: 10px;
}

.main-img {
  width: 80%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.main-img img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px gray;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: solid 2px white;
}

table tr:last-child {
  border-bottom: none;
}

table th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #ff7d6e;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  font-weight: bold;
}

.like_btn {
  position: relative;
  box-shadow: 0 0 8px gray;
  width: 42px;
  height: 42px;
  margin-right: 20px;
  border-radius: 50%;
  display: block;
  text-align: center;
}

.hart {
  font-size: 20px;
  color: rgb(172, 170, 170);
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%; /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}

/* .content-item {
  border: #ddd solid 2px;
} */

/* メイン画像切り替え */
.swiper-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-wrap {
  width: 75%;
  margin: 0 auto;
}
.swiper-container {
  width: 100%;
}

.slider-thumbnail-wrap {
  width: 100%;
}
.swiper-container.slider {
  height: 80vh;
}
.swiper-container.slider-thumbnail {
  width: 100%;
}
.swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
  opacity: 0.5;
  overflow: hidden;
}
.swiper-container.slider-thumbnail
  .swiper-wrapper
  .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.tab-wrap {
  background: White;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 0 20px;
}

.tab-label {
  background-color: #d9d9d9;
  border-bottom: 3px solid #ff7d6e;
  color: Gray;
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  order: -1;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.tab-label:hover {
  background: rgba(0, 191, 255, 0.1);
}

.tab-switch:checked + .tab-label {
  color: white;
  background-color: #ff7d6e;
}

.tab-label::after {
  background: #ff7d6e;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
  width: 100%;
  z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
  transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
  opacity: 1;
  transform: translateX(0);
}

.tab-content {
  height: 0;
  opacity: 0;
  padding: 0 20px;
  pointer-events: none;
  transform: translateX(-30%);
  transition: transform 0.3s 80ms, opacity 0.3s 80ms;
  width: 100%;
}

.tab-switch:checked ~ .tab-content {
  transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
  height: auto;
  opacity: 1;
  order: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.tab-wrap::after {
  content: "";
  height: 20px;
  order: -1;
  width: 100%;
}

.tab-switch {
  display: none;
}
/* detail */
.detail-tab-wrap {
  background: White;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 0 20px;
}

.detail-tab-label {
  background-color: #d9d9d9;
  border-bottom: 3px solid #ff7d6e;
  color: Gray;
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  order: -1;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.detail-tab-label:hover {
  background: rgba(0, 191, 255, 0.1);
}

.detail-tab-switch:checked + .detail-tab-label {
  color: white;
  background-color: #ff7d6e;
}

.detail-tab-label::after {
  background-color: #ff7d6e;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
  width: 100%;
  z-index: 1;
}

.detail-tab-switch:checked ~ .detail-tab-label::after {
  transform: translateX(-100%);
}

.detail-tab-switch:checked + .detail-tab-label::after {
  opacity: 1;
  transform: translateX(0);
}

.detail-tab-content {
  height: 0;
  opacity: 0;
  padding: 0 20px;
  overflow-y: scroll;
  pointer-events: none;
  transform: translateX(-30%);
  transition: transform 0.3s 80ms, opacity 0.3s 80ms;
  width: 100%;
}

.detail-tab-switch:checked ~ .detail-tab-content {
  transform: translateX(30%);
}

.detail-tab-switch:checked + .detail-tab-label + .detail-tab-content {
  height: 150px;
  opacity: 1;
  order: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.detail-tab-wrap::after {
  content: "";
  height: 20px;
  order: -1;
  width: 100%;
}

.detail-tab-switch {
  display: none;
}

@media screen and (max-width: 768px) {
  .introduce-wrap {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0;
  }
  .swiper-container.slider {
    height: 30vh;
  }
  .slider-wrap {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
