.dog-setting-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  background-color: #f3f3f3;
}

.mypage-wrap {
  width: 80%;
  margin: 0 auto;
}

.profile-wrap {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.introduce-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.introduce-wrap-inner {
  border: 1px solid gray;
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.introduce-wrap-inner-edit {
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.introduce-wrap .content {
  /* width: 90%; */
  height: auto;
}

#attachment label {
  /* ボタン部分の見た目（任意） */
  margin-top: 20px;
  display: inline-block;
  position: relative;
  background: #ff7d6e;
  color: #fff;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 4px;
  transition: all 0.3s;
  width: auto;
  font-size: 12px;
  font-weight: bold;
}
#attachment label:hover {
  background: #f8a79e;
  transition: all 0.4s;
}
#attachment label input {
  /* 今回のポイント */
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
#attachment .filename {
  font-weight: 16px;
  margin: 0 0 0 10px;
}

.profile-wrap img {
  border-radius: 50%;
  width: 200px;
  height: auto;
  border: 1px solid rgb(187, 185, 185);
  box-shadow: 2px 2px 4px gray;
}

.sponser-wrap {
  width: 100%;
  margin: 0 auto;
}

a {
  color: black;
}

h2 {
  color: #ff7d6e;
  font-size: 16px;
  padding: 10px;
}

.nav-tabs-wrapper {
  border-bottom: 1px solid rgb(219, 217, 217);
}

.nav-tabs-wrapper ul li {
  width: auto;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.clickBtn {
  color: white;
  border: 1px solid rgb(228, 226, 226);
  border-radius: 5px;
  background-color: #ff7d6e;
}

.form-group p {
  margin: 0;
  padding: 10px 10px 10px 5px;
  font-weight: bold;
}

::placeholder {
  opacity: 0.3;
  padding: 10px;
}

.form-control::placeholder {
  opacity: 0.3;
}

.m-form-textarea {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid rgb(196, 194, 194);
}

.m-form-textarea:focus {
  outline: none;
  border: 5px solid rgb(188, 205, 236);
}

.total-place {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 10px;
}

.like {
  display: flex;
}

.introduce_content {
  padding: 10px;
}

.main-img {
  width: 80%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.main-img img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px gray;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: solid 2px white;
}

table tr:last-child {
  border-bottom: none;
}

table th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #ff7d6e;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  font-weight: bold;
}

table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #ff7d6e;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.like_btn {
  position: relative;
  box-shadow: 0 0 8px gray;
  width: 42px;
  height: 42px;
  margin-right: 20px;
  border-radius: 50%;
  display: block;
  text-align: center;
}

.hart {
  font-size: 20px;
  color: rgb(172, 170, 170);
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%; /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}

/* .content-item {
  border: #ddd solid 2px;
} */

/* メイン画像切り替え */
.swiper-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-wrap {
  width: 75%;
  margin: 0 auto;
}
.swiper-container {
  width: 100%;
}

.slider-thumbnail-wrap {
  width: 100%;
}
.swiper-container.slider {
  height: 80vh;
}
.swiper-container.slider-thumbnail {
  width: 100%;
}
.swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
  opacity: 0.5;
  overflow: hidden;
}
.swiper-container.slider-thumbnail
  .swiper-wrapper
  .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.tab-wrap {
  background: White;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 0 20px;
}

.tab-label {
  background-color: #d9d9d9;
  border-bottom: 3px solid #ff7d6e;
  color: Gray;
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  order: -1;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.tab-label:hover {
  background: rgba(0, 191, 255, 0.1);
}

.tab-switch:checked + .tab-label {
  color: white;
  background-color: #ff7d6e;
}

.tab-label::after {
  background: #ff7d6e;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
  width: 100%;
  z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
  transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
  opacity: 1;
  transform: translateX(0);
}

.tab-content {
  height: 0;
  opacity: 0;
  padding: 0 20px;
  pointer-events: none;
  transform: translateX(-30%);
  transition: transform 0.3s 80ms, opacity 0.3s 80ms;
  width: 100%;
}

.tab-switch:checked ~ .tab-content {
  transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
  height: auto;
  opacity: 1;
  order: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.tab-wrap::after {
  content: "";
  height: 20px;
  order: -1;
  width: 100%;
}

.tab-switch {
  display: none;
}
/* detail */
.detail-tab-wrap {
  background: White;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 0 20px;
}

.detail-tab-label {
  background-color: #d9d9d9;
  border-bottom: 3px solid #ff7d6e;
  color: Gray;
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  order: -1;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.detail-tab-label:hover {
  background: rgba(0, 191, 255, 0.1);
}

.detail-tab-switch:checked + .detail-tab-label {
  color: white;
  background-color: #ff7d6e;
}

.detail-tab-label::after {
  background-color: #ff7d6e;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
  width: 100%;
  z-index: 1;
}

.detail-tab-switch:checked ~ .detail-tab-label::after {
  transform: translateX(-100%);
}

.detail-tab-switch:checked + .detail-tab-label::after {
  opacity: 1;
  transform: translateX(0);
}

.detail-tab-content {
  height: 0;
  opacity: 0;
  padding: 0 20px;
  overflow-y: scroll;
  pointer-events: none;
  transform: translateX(-30%);
  transition: transform 0.3s 80ms, opacity 0.3s 80ms;
  width: 100%;
}

.detail-tab-switch:checked ~ .detail-tab-content {
  transform: translateX(30%);
}

.detail-tab-switch:checked + .detail-tab-label + .detail-tab-content {
  height: 150px;
  opacity: 1;
  order: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.detail-tab-wrap::after {
  content: "";
  height: 20px;
  order: -1;
  width: 100%;
}

.detail-tab-switch {
  display: none;
}

header {
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 2em;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}

.profile-container {
  width: 80%;
  margin: 3em auto 1em auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding-bottom: 1.5em;
  background-color: #dde1e2;
  -webkit-box-shadow: #bdc3c7 0 5px 5px;
  -moz-box-shadow: #bdc3c7 0 5px 5px;
  box-shadow: #bdc3c7 0 5px 5px;
}

.mypage-container {
  width: 80%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding-bottom: 1.5em;
  background-color: #dde1e2;
  -webkit-box-shadow: #bdc3c7 0 5px 5px;
  -moz-box-shadow: #bdc3c7 0 5px 5px;
  box-shadow: #bdc3c7 0 5px 5px;
}

.bg {
  border-bottom: 8px solid #ff7d6e;
}

.bio img {
  width: 100%;
  height: 171px;
  object-fit: cover;
}

.bio:hover > .desc {
  cursor: pointer;
  opacity: 1;
}

.avatarcontainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  display: block;
}
.avatarcontainer:hover > .hover {
  opacity: 1;
}

.avatar {
  width: 100%;
  border: 8px solid #ff7d6e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.avatar img {
  width: 65px;
  height: 65px;
}
.avatar:hover + .hover {
  opacity: 1;
  cursor: pointer;
}

.hover {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #ff7d6e;
  top: 0;
  font-size: 1.8em;
  text-align: center;
  color: white;
  padding-top: 18%;
  opacity: 0;
  font-family: "FontAwesome";
  font-weight: 300;
  border: 8px solid #ff7d6e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.content p {
  text-align: center;
  font-size: 10px;
}
.data {
  margin-top: 0.6em;
  color: #81878b;
}
.data li {
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  font-family: "Lato";
  border-right: solid 1px #bdc3c7;
}
.data li:last-child {
  border: none;
}
.data li span {
  display: block;
  text-transform: uppercase;
  font-family: "Quicksand";
  font-size: 0.5em;
  margin-top: 0.6em;
  font-weight: 700;
}

.desc {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 171px;
  padding: 1.2em 1em 0 1em;
  color: white;
  text-align: center;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.desc h3 {
  font-family: "Lato";
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.desc p {
  font-size: 0.9em;
  font-family: "Quicksand";
  line-height: 1.5em;
}

.follow {
  margin: 1.5em auto 0 auto;
  background-color: #ff7d6e;
  width: 150px;
  color: white;
  font-family: "Lato";
  text-align: center;
  padding: 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.follow:hover {
  background-color: #f8a79e;
  cursor: pointer;
}

.profile-edit-link {
  text-align: center;
}
.profile-drawal-link {
  text-align: right;
}

.profile-edit-link p {
  font-size: 12px;
}

.profile_container .prolile-wrap h3 {
  font-size: 13px;
  font-weight: bold;
}

.profile_container .prolile-wrap span {
  background-color: brown;
  color: white;
  font-size: 12px;
  padding: 5px;
  margin-right: 5px;
}

.profile_container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.prolile-wrap {
  width: 100%;
  margin-top: 20px;
  /* background-color: #ddd; */
}

.profile-wrap-item {
  margin-bottom: 20px;
}

.border {
  border: 2px solid #ddd;
  margin: 100px;
}

.bank-information-title p {
  font-weight: bold;
  margin-bottom: 20px;
}

.cp_navi {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 360px;
}
.cp_navi #cp_sidenav a {
  font-size: 10px;
  position: absolute;
  left: -95px;
  width: 110px;
  height: 54px;
  padding: 12px 15px;
  transition: 0.3s;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
}
.cp_navi #cp_sidenav a:hover {
  left: -10px;
}
.cp_navi #home {
  top: 20px;
  background-color: #da3c41;
}
.cp_navi #news {
  top: 80px;
  background-color: #1b2538;
}
.cp_navi #contact {
  top: 140px;
  background-color: #2e9b72;
}
.cp_navi #about {
  top: 200px;
  background-color: #a62e7a;
}
#sp_sidenav {
  margin-bottom: 10px;
}
ul.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #1b2538;
}
ul.topnav li {
  width: calc(100% / 3);
  float: left;
}
ul.topnav li a {
  display: block;
  padding: 14px 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 10px;
}
ul.topnav li a:hover:not(.active) {
  background-color: #a9bce2;
}
ul.topnav li a.active {
  background-color: #da3c41;
}
ul.topnav li.right {
  float: right;
}
/* .profile-spmenu {
  display: none;
} */
.profile-spmenu {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .profile-spmenu {
    display: block !important;
  }
  .like {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .like .btn {
    font-size: 13px;
    top: 50%;
    margin-top: -0.5em;
    height: 100%;
  }
  .detail-tab-label {
    font-size: 13px;
  }
  .detail-tab-content {
    font-size: 13px;
  }
  .my_name table th {
    font-size: 13px;
  }
  .my_name table td {
    font-size: 13px;
  }
  .dog-setting-wrap {
    padding: 10px;
    margin: 0 auto;
    width: 90%;
  }
  .profile_container {
    display: block;
    width: 100%;
    padding: 20px;
  }
  .mypage-container {
    width: 100%;
  }
  .profile-menu {
    display: none;
  }
  .border {
    border: 2px solid #ddd;
    margin: 50px;
  }
}

@media screen and (max-width: 768px) {
  .introduce-wrap {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0;
  }
  .swiper-container.slider {
    height: 30vh;
  }
  .slider-wrap {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .profile_container {
    width: 100%;
    padding: 20px;
  }
  .cp_navi {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 360px;
  }
}
